:root{
  --btn-color:#003b99;
}



.grid{
  display: grid;
  justify-content: center;
  padding:2rem;
  margin: 2rem;
    row-gap: 2rem; 
  column-gap: 3rem;

}
.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}

.grid-three-cols{
  grid-template-columns: repeat(3,1fr);
}

.container{
  max-width: 140rem;
  padding: 0 5rem;


}

.card-heading{
  text-align: center;
  font-size: 3rem;
}
